
h1
{
	color: green; 
	font-size: 40px;
}
.body_background {
	background-image:url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#Canvas1{
border-width: 10px;
background-color: white;
border-style: groove;
}
span{
	font-size: 20px;
}
button{
	background-color: aquamarine;
	border:none;
	font-size: large;
}